@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --verydark-cyan: hsl(179, 100%, 13%);
    --white-pg: hsla(0, 0%, 100%, 0.75);
    --vlightgray-bg: hsl(0, 0%, 95%);
    font-size: 1em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--vlightgray-bg);
}

.card{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
    width: 300px;
    border-radius: 10px;
}

article > section{
    padding: 40px 52px 40px 40px;
}

h1{
    font-size: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--white-pg);
    margin: 16px 0px;
}

p{
    color: var(--white-pg);
    font-family: 'Lexend Deca' sans-serif;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
    line-height: 24px;
    text-align: left;
    font-size: 1rem;
}

.sedans{
    background-color: var(--bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.suvs{
    background-color: var(--dark-cyan);
}

.luxury{
    background-color: var(--verydark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button{
    width: 160px;
    height: 48px;
    background-color: white;
    border-radius: 32px;
    border-style: none;
}

.a-sedans{
    text-transform: capitalize;
    color: var(--bright-orange);
    font-family: 'Lexend Deca' sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.a-suvs{
    text-transform: capitalize;
    color: var(--dark-cyan);
    font-family: 'Lexend Deca' sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.a-luxury{
    text-transform: capitalize;
    color: var(--verydark-cyan);
    font-family: 'Lexend Deca' sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.sedans-btn:hover{
    cursor: grab;
    border: 2px solid white;
    border-color: var(--white-pg);
    background-color: var(--bright-orange);
}

.suvs-btn:hover{
    cursor: grab;
    border: 2px solid white;
    border-color: var(--white-pg);
    background-color: var(--dark-cyan);
}

.luxury-btn:hover{
    cursor: grab;
    border: 2px solid white;
    border-color: var(--white-pg);
    background-color: var(--verydark-cyan);
}

.a-sedans:hover{
    color: white;
}

.a-suvs:hover{
    color: white;
}

.a-luxury:hover{
    color: white;
}

@media screen and (min-width: 768px){
    .card{
        grid-template-rows: 0;
        grid-template-columns: repeat(3, 1fr);
        width: 900px;
        /* height: 1350px; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }

    section{
        height: 450px;
    }

    .sedans{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    .luxury{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }

    h1{
        margin: 24px 0px;
    }

    p{
        margin: 48px 0px 40px 0px;
    }
}